@{
  Layout = "_Layout";
}

@model AnimalShelter.Models.Animal

<h4>Add a new animal</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.Name)
  @Html.TextBoxFor(model => model.Name, new { @class = "form-control", placeholder = "short name", required="required"})
  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description, new { @class = "form-control", placeholder = "short description", required="required"})
  @Html.LabelFor(model => model.ArrivalDate)
  // No need for the {yyyy-MM-dd} format or the @ in front of the type="date"
  @Html.TextBoxFor(model => model.ArrivalDate, new { @class = "form-control", type = "date" })

  <input type="submit" value="Add new animal" />
}

<p>@Html.ActionLink("Show all animals", "Index")</p>